{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "no-console": "warn",
        "no-plusplus": "off",
        "eol-last": "off",
        "no-tabs": "off",
        "indent": ["off", "tab"],
        "no-alert": "warn",
        "comma-dangle": "off",
        "prefer-destructuring": "warn",
        "spaced-comment": ["error", "always", {
            "line": {
                "markers": ["/"],
                "exceptions": ["-", "+"]
            },
            "block": {
                "markers": ["!"],
                "exceptions": ["*"],
                "balanced": true
            }
        }],
        "no-useless-escape": "warn",
        "consistent-return": "warn",
        "no-param-reassign": "warn",
        "prefer-template": "warn",
        "default-case": "off",
        "no-restricted-syntax": "off",
        "guard-for-in": "off",
        "max-len": "warn"
    }
}