.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------------*/
.wrap {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  padding: 10px 30px;

  background-color: #4CAF50;
  color: #CDD6CF;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-title {
  align-self: center;

  margin: 10px;

  font-size: 3rem;
}

.navbar-btn {
  display: flex;
  align-items: center;

  padding: 16px 32px;

  font-size: 16px;
  line-height: 18px;

  border: 1px solid #CDD6CF;
  border-radius: 10px;
  background-color: transparent;
  color: #FFFFFF;

  text-decoration: none;
}

.navbar-logo,
.navbar-title,
.navbar-btn {
  cursor: pointer;
}

.navbar-btn:active {
  border-color: aquamarine;
}

.navbar-title:active,
.navbar-btn:active {
  color: aquamarine;
}

.navbar-title,
.homepage-title {
  font-family: 'Rochester';
  font-weight: 400;
  font-style: normal;
}

.homepage-title {
  font-size: 100px;
  color: #4CAF50;
}