* {
    /* font-family: 'Roboto Slab', serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    font-size: 16px;
    background-color: #efefef;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
    text-transform: uppercase; 
    font-weight: normal;
}

h3 {
    flex-grow: 1;
    padding: 70px 0;

    text-transform: uppercase; 
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 1.125em;

    text-transform: capitalize;
    color: #000000;
}

textarea {
    width: 40%;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-wrap {
    display: flex;
}

.content-wrap {
    padding: 0 60px;
}

.search-window {
    /* position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: #000000;
    opacity: 0.8;
    z-index: 999999; */
}

/*---------------------- HEADER --------------------------*/

header {
    width: 100%;
    padding: 40px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
}

.header__logo {
    margin: 0;
    text-transform: uppercase;
    overflow-wrap: normal;

    cursor: pointer;
}

.header__item:hover {
    border-color: black;
}

.header__item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.header__item a img {
    width: 33.3%;
    height: 33.3%;
}

/*---------------------- NAV --------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 60px;

    background-color: #efefef;
}

.nav__item {
    cursor: pointer;
}

.nav__item img {
    width: 40%;
    height: 40%;
}

.nav_menu {
    position: relative;
}
  
.nav__link {
    position: relative;
    
    margin: 0 30px;
    
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.nav__link:hover {
    color:#ffa500;
}

.nav__link + .nav__link::before {
    content: '/';
    position: absolute;

    left: -30px;

    color: #d0d0d0;
}


  
.nav__burger-menu {
    display: none;
    position: relative;
    flex-direction: column;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
  
    cursor: pointer;
}
  
  
.nav__burger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
}
  
.nav__burger-menu::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
}

/*---------------------- SLIDER -------------------------*/

.slider {
    background-color: rgb(196, 123, 168);
    height: 500px;
    /*----------------*/
    display: flex;
    align-items: center;

    padding-left: 170px;

    color: #ffffff;
}

.slider {
    background: url(../img/bacgrounds/background.jpeg) no-repeat center center;
    background-size: cover;
  }

.slider > p {
    color: #ffffff;
}

.slider-content > * {
    margin-bottom: 35px;

    font-size: 1.2em;
}

.slider-content > h2 {
    font-weight: normal;
}

/*---------------------- SERVICES --------------------------*/

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-cards {
    align-self: center;

    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

    max-width: 90%;
}

.service {
    margin-bottom: 30px;
    padding: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    background-color: #ffffff;
}

.service-content {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    max-width: 400px;
}

.service:nth-child(2n+1) > .service-content {
    align-items: flex-end;
    text-align: end;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 80px;
    height: 80px;

    border: 2px solid #e4e4e4;
    border-radius: 50%;

    font-size: 1.6em;
}

.service-icon:hover {
    border: 2px solid #ffa500;
    color: #ffa500;
    
    transform: rotate(360deg);
    transition: transform 0.3s ease;
}

.service:nth-child(2n) > .service-icon {
    margin-right: 25px;
}

.service:nth-child(2n+1) > .service-icon {
    margin-left: 25px;
}
/*---------------------- CARDS BOARD --------------------------*/

.cards-board {
    background-color: rgb(109, 150, 212);
    height: 200px;
    /*----------------*/
}

/*---------------------- FOOTER --------------------------*/
footer {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin: auto;
    margin-bottom: 110px;
}

.contact-wrap {
    width: 100%;
    background-color: #ffffff;
}

.contact-form {
    padding: 22px;
    /* max-width: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0;
}


label > input,
label > .message {
    /* padding: .5em 1em .5em 0; */
    /* flex: 2; */
}

.infotext {
    margin-bottom: 25px;

    line-height: 1.5em;
}

.submit-btn {
    margin: 0.25em 0;
    align-self: flex-end;

    text-transform: uppercase;
    font-weight: bold;

    background-color: #ffffff;

    transition: all 0.5s ease;
}

.submit-btn:hover {
    color: #ffa500;
    border-color: #ffa500;;
}

input, 
.submit-btn {
    height: 36px;
    width: 250px;

    /* margin: 2px; */
}

input {
    margin-right: 70px;
}

input,
.message {
    padding-left: 10px;
}

.message:focus, 
input:focus { 
    outline: 1px solid #000000;   
}

/*============================================================*/

/*------------------ Transition, :hover ----------------------*/
.header__item,
.nav__item {   
    transition: all 0.5s ease;
}

.header__item:hover,
.nav__item:hover {
    border-color: black;
}

/*------------------- Colored text -----------------------*/
.orange-text {
    color: #ffa500;
}

.contact-form,
.service-content {
    color: #778899;
}

.blue-text {
    color: #00bfff;
}

.green-text {
    color: #adff2f;
}

/*------------------- Transition off -----------------------*/
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


/*------------------- Links/btns -----------------------*/
.header__item,
.nav__item  {
    height: 36px;
    width: 36px;

    margin: 2px;
}

.header__list,
.nav__list  {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

.header__item,
.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------- Fonts --------------------------*/

.nav__menu,
label,
.infotext,
p {
    font-family: 'Roboto', serif; 
    font-size: 14px;
    font-weight: 400;
}


.last-link {
    margin-right: 0;
}

/*---------------------- Border --------------------------*/
input, 
.submit-btn,
.header__item,
.nav__item,
.message {
    border: 1px solid #d0d0d0;
 }