* {
    /* font-family: 'Roboto Slab', serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*---------------------- Header --------------------------*/

header {
    /* background-color: #efd; */
    /*----------------*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 60px;
}

.header__logo {
    /* background-color: rgb(177, 110, 110); */
    /*----------------*/
    margin: 0;
    text-transform: uppercase;
    flex-wrap: nowrap;

    cursor: pointer;
}

.header__icons {
    /* background-color: rgb(160, 123, 196); */
    /*----------------*/
}

.header__list {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

.header__item {
    height: 36px;
    width: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2px;
    border: 1px solid #d0d0d0;
}

.header__item:hover {
    border-color: black;
}

.header__item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.header__item a img {
    width: 33.3%;
    height: 33.3%;
}

/*---------------------- Nav --------------------------*/

nav {
    background-color: rgb(138, 196, 123);
    height: 70px;
    /*----------------*/
}

.nav_menu {
    position: relative;
}
  
.nav__link {
    position: relative;
    margin: 0 1rem;
  
    font-size: calc(10px + 0.9vw);
    font-stretch: ultra-condensed;
  
    text-decoration: none;
    text-transform: uppercase;
  
    color: #ffffff;
}
  
.nav__burger-menu {
    display: none;
    position: relative;
    flex-direction: column;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
  
    cursor: pointer;
}
  
  
.nav__burger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
}
  
.nav__burger-menu::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
}
  
.nav__link + .nav__link::before {
    content: '';
    position: absolute;
    width: calc(1.2rem + 0.4vw);
    height: 0.11rem;
  
    transform: rotate(-65deg);
    top: calc(0.7rem + 0.1vw);
    left: calc(-2rem - 0.2vw);
  
    background: #ffffff;
}

/*---------------------- Slider -------------------------*/

.slider {
    background-color: rgb(196, 123, 168);
    height: 200px;
    /*----------------*/
}

/*---------------------- Services --------------------------*/

.services {
    background-color: rgb(235, 169, 125);
    height: 200px;
    /*----------------*/
}

/*---------------------- Cards board --------------------------*/

.cards-board {
    background-color: rgb(109, 150, 212);
    height: 200px;
    /*----------------*/
}

/*---------------------- Footer --------------------------*/
footer {
    height: 300px;
    background-color: #cff;
    /*----------------*/
}


/*------------------ Transition, :hover ----------------------*/
.header__item,
.nav__item {   
    transition: all 0.5s ease;
}

.header__item:hover,
.nav__item:hover {
    border-color: black;
}

/*------------------- Colored text -----------------------*/
.orange-text {
    color: #ffa500;
}

/*------------------- Transition off -----------------------*/
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }