* {
    /* font-family: 'Roboto Slab', serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-window {
    /* position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: #000000;
    opacity: 0.8;
    z-index: 999999; */
}

/*---------------------- HEADER --------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 60px;
}

.header__logo {
    margin: 0;
    text-transform: uppercase;
    flex-wrap: nowrap;

    cursor: pointer;
}

.header__item:hover {
    border-color: black;
}

.header__item a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.header__item a img {
    width: 33.3%;
    height: 33.3%;
}

/*---------------------- NAV --------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 60px;

    background-color: #efefef;
}

.nav__item {
    cursor: pointer;
}

.nav__item img {
    width: 40%;
    height: 40%;
}

.nav_menu {
    position: relative;
}
  
.nav__link {
    position: relative;
    
    margin: 0 30px;
    
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.nav__link:hover {
    color:#ffa500;
}

.nav__link + .nav__link::before {
    content: '/';
    position: absolute;

    left: -30px;

    color: #d0d0d0;
}


  
.nav__burger-menu {
    display: none;
    position: relative;
    flex-direction: column;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
  
    cursor: pointer;
}
  
  
.nav__burger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
}
  
.nav__burger-menu::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 5px;
  
    background-color: #ffffff;
}

/*---------------------- Slider -------------------------*/

.slider {
    background-color: rgb(196, 123, 168);
    height: 200px;
    /*----------------*/
}

/*---------------------- Services --------------------------*/

.services {
    background-color: rgb(235, 169, 125);
    height: 200px;
    /*----------------*/
}

/*---------------------- Cards board --------------------------*/

.cards-board {
    background-color: rgb(109, 150, 212);
    height: 200px;
    /*----------------*/
}

/*---------------------- Footer --------------------------*/
footer {
    height: 300px;
    background-color: #cff;
    /*----------------*/
}


/*------------------ Transition, :hover ----------------------*/
.header__item,
.nav__item {   
    transition: all 0.5s ease;
}

.header__item:hover,
.nav__item:hover {
    border-color: black;
}

/*------------------- Colored text -----------------------*/
.orange-text {
    color: #ffa500;
}

/*------------------- Transition off -----------------------*/
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


/*------------------- Links/btns -----------------------*/
.header__item,
.nav__item  {
    height: 36px;
    width: 36px;

    margin: 2px;
    border: 1px solid #d0d0d0;
}

.header__list,
.nav__list  {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

.header__item,
.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------- Fonts --------------------------*/

.nav__menu {
    font-family: 'Roboto', serif; 
    font-size: 14px;
    font-weight: 400;
}


.last-link {
    margin-right: 0;
}