@media screen and (max-width: 992px) {
    header {
        padding: 40px 20px;
    }

    .service {
        width: 100%;
    }

    .contact-form {
        max-width: 100%;
        padding-bottom: 50%;
    }

    .form-row label {
        width: 20%;
    }

    .submit-btn {
        margin-left: 20%;
    }

    .form-row input, 
    .message,
    .submit-btn {
        width: 400px;
    }

    .nav__burger-menu {
        display: flex;
    }

    .nav__menu .nav__menu-item {
        display: none;
    }

    .page-content-wrap {
        width: 75%;
    }
}


@media screen and (min-width: 992px) {
    .dropdown-menu {
        display: none;
    }

    .page-content-wrap {
        width: 90%;
    }

    .service {
        max-width: calc(50% - 15px);
    }
}

@media screen and (min-width: 1200px) {
    .contact-form {
        max-width: 50%;
    }
}