@media screen and (max-width: 992px) {
    header {
        padding: 40px 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 992px) {
    .service {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .service {
        width: 455px;
    }
}