@media screen and (max-width: 992px) {
    header {
        padding: 40px 20px;
    }

    .service {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        padding-bottom: 50%;
    }

    .nav__burger-menu {
        display: flex;
    }

    .nav__menu .nav__menu-item {
        display: none;
    }

    .page-content {
        width: 80%;
    }
}


@media screen and (min-width: 992px) {
    .dropdown-menu {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .service {
        width: 455px;
    }
}