@media screen and (max-width: 992px) {
    /*--------------------- Quotes ------------------*/
    .carousel-wrap {
        order: 4;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    .carousel-wrap > .quote {
        flex-grow: 1;
        width: 100%;

        font-size: 2rem;
    }

    .content-prompt {
        position: absolute;
        bottom: 5px;
        right: 90px;

        max-width: 150px;
    }
}

@media screen and (max-width: 650px) {

    /*--------------------- Navbar ----------------------*/
    .navbar-title {
        display: none;
    }
    /*--------------------- Quotes ------------------*/

    .carousel-wrap {
        height: 200px;
    }

    .carousel-wrap > .quote {
        flex-grow: 1;
        height: 100px;
        width: 100%;

        font-size: 1rem;
    }


    .content-prompt {
        position: absolute;
        bottom: -30px;
        right: 40px;

        max-width: 120px;
        margin: 40px 0;
    
        font-size: .7rem;
    
    }
}

@media screen and (min-width: 992px) {
    .carousel-wrap {
        width: 540px;
    }
}