@media screen and (max-width: 992px) {
    /*--------------------- Quotes ------------------*/

    .quote {
        flex-grow: 1;

        font-size: 2rem;
    }

    .carousel-wrap {
        order: 4;
        width: 90%;
        /* margin-top: 50px; */
    }

    .content-prompt {
        position: absolute;
        bottom: 5px;
        right: 90px;

        max-width: 150px;
    }
}

@media screen and (max-width: 650px) {

    /*--------------------- Navbar ----------------------*/
    .navbar-title {
        display: none;
    }
    /*--------------------- Quotes ------------------*/

    .quote {
        flex-grow: 1;
        height: 100px;

        font-size: 1rem;
    }

    .carousel-wrap {
        order: 4;
        width: 90%;
        height: 100px;
    }


    .content-prompt {
        position: absolute;
        bottom: -30px;
        right: 40px;

        max-width: 120px;
        margin: 40px 0;
    
        font-size: .7rem;
    
    }
}