.modal-bg {
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.38);
}
  
.modal-container {
    display: flex;
    flex-direction: column;

    /* padding: 25px; */
    width: 600px;
    height: 750px;

    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* overflow-y: auto; */
}

.modal-container .title {
    color: #CDD6CF;

    font-size: 32px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
}

.modal-header {
    display: flex;
    justify-content: space-between;

    padding: 26px;
    height: 80px;

    color: #CDD6CF;
    background-color: #4CAF50;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    cursor: pointer;
}

.modal-container .body {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: calc(100% - 80px);
    
    font-size: 1.7rem;
    text-align: center;

    overflow-y: scroll;
}