.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  
    width: 100%;
    padding: 10px 30px;
  
    background-color: #4CAF50;
    color: #CDD6CF;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
}
  
.navbar-title {
    align-self: center;
  
    margin: 10px;
  
    font-size: 3rem;
}
  
.navbar-btn {
    display: flex;
    align-items: center;
  
    padding: 16px 32px;
  
    font-size: 16px;
    line-height: 18px;
  
    border: 1px solid #CDD6CF;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
  
    text-decoration: none;
}
  
.navbar-logo,
.navbar-title,
.navbar-btn,
.navbar-user,
.navbar-liked,
.navbar-search {
    cursor: pointer;
}
  
.navbar-btn:active {
    border-color: aquamarine;
}
 
.navbar-logo:active,
.navbar-title:active,
.navbar-btn:active,
.navbar-user:active,
.navbar-liked:active,
.navbar-search:active,
.dropdown-prompt span:active {
    color: aquamarine;
}
  
.navbar-title {
    font-family: 'Rochester';
    font-weight: 400;
    font-style: normal;
}

/*------------------- USER BAR ------------------*/
.user-btns-list {
    display: flex;
    list-style-type: none;
}

.navbar-search,
.navbar-liked,
.navbar-user {
    margin: 0 10px;
}

.log-out {
    right: 10px;
}

.search {
    right: 110px;
}

.liked {
    right: 65px;
}

.user-btns-item:hover .dropdown-prompt {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.4s linear;
}


/*---------------------- Media ----------------------*/
@media screen and (max-width: 992px) {    
    .dropdown-prompt {
        top: 70px;
    }
}