.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  
    padding: 10px 30px;
  
    background-color: #4CAF50;
    color: #CDD6CF;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
}
  
.navbar-title {
    /* display: block; */
    align-self: center;
  
    margin: 10px;
  
    font-size: 3rem;
}
  
.navbar-btn {
    display: flex;
    align-items: center;
  
    padding: 16px 32px;
  
    font-size: 16px;
    line-height: 18px;
  
    border: 1px solid #CDD6CF;
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
  
    text-decoration: none;
}
  
.navbar-logo,
.navbar-title,
.navbar-btn,
.navbar-user,
.navbar-liked,
.navbar-search {
    cursor: pointer;
}
  
.navbar-btn:active {
    border-color: aquamarine;
}
 
.navbar-logo:active,
.navbar-title:active,
.navbar-btn:active,
.navbar-user:active,
.navbar-liked:active,
.navbar-search:active,
.dropdown-logout span:active {
    color: aquamarine;
}
  
.navbar-title {
    font-family: 'Rochester';
    font-weight: 400;
    font-style: normal;
}

/*------------------- USER BAR ------------------*/
.user-btns {
    display: none;
}

.navbar-search,
.navbar-liked,
.navbar-user {
    margin: 0 10px;
}

.dropdown-logout {
    position: absolute;
    right: 10px;
    top: 90px;
    display: none;
    justify-content: center;

    width: 150px;
    padding: 10px;
    /* visibility: hidden; */
    opacity: 1;
    background-color: #d3d0d0;
    transition: visibility 0.1s, opacity 0.4s linear;

    border-radius: 10px;

    font-family: "Quicksand";
}

.dropdown-logout::before {
    content: '';
    position: absolute;

    top: -10px;
    right: 40px;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d3d0d0;
}

.dropdown-logout span {
    color: #4CAF50;
    cursor: pointer;
}

.navbar-user:hover .dropdown-logout {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.4s linear;
}


/*---------------------- Media ----------------------*/
@media screen and (max-width: 992px) {    
    .dropdown-logout {
        top: 70px;
    }
}